<mat-sidenav mode="side" opened>
    <mat-nav-list role="list">
        <mat-list-item role="listitem" routerLink="/featured">
            <div style="display: flex;">
                <mat-icon mat-list-icon>home</mat-icon>
                <p>Home</p>
            </div>
        </mat-list-item>

        <mat-list-item role="listitem" routerLink="/subscriptions">
            <div style="display: flex;" mat-line>
                <mat-icon mat-list-icon>subscriptions</mat-icon>
                <p mat-line>subscriptions</p>
            </div>
        </mat-list-item>

        <mat-list-item role="listitem" routerLink="/history">
            <div style="display: flex;">
                <mat-icon mat-list-icon>history</mat-icon>
                <p>History</p>
            </div>
        </mat-list-item>

        <mat-list-item role="listitem" routerLink="/liked-videos">
            <div style="display: flex;">
                <mat-icon mat-list-icon>thumb_up</mat-icon>
                <p>Liked Videos</p>
            </div>
        </mat-list-item>

    </mat-nav-list>
</mat-sidenav>
